@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  max-width: 1920px;
  overflow: hidden;
  background-color: #777;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
}

.moving-square {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 0%;
  transform: translateY(-50%);
  width: 28px;
  height: 28px;
  background-color: white;
}

.moving-square.animation {
  left: 0;
  animation: move-aim 3s linear alternate infinite;
}

.moving-square.pause {
  animation-play-state: paused;
}

.info {
  position: absolute;
  bottom: 0;
  right: 5%;
  width: 35vh;
  height: 40vh;
  font-size: 38px;
}

.catch-me {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 54px;
  font-family: monospace;
}

.catch-me::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #777;
  border-left: 3px solid black;
  animation: move 4s steps(22, start) forwards, cursor 1s linear infinite;
}

.congratz {
  display: block;
  width: 100vw;
  margin-top: 200px;
  transform: scale(0);
  text-align: center;
  font-family: monospace;
  font-size: 54px;
}

.congratz.scale {
  animation: scale .5s linear forwards;
}

@keyframes scale {
  100% {
    transform: scale(1);
  }
}

@keyframes move {
  100% {
    left: 100%;
  }
}

@keyframes cursor {
  0% {
    border-color: black;
  }

  50% {
    border-color: black;
  }

  65% {
    border-color: transparent;
  }

  75% {
    border-color: transparent;
  }

  90% {
    border-color: black;
  }

  100% {
    border-color: black;
  }
}

@keyframes shake-it {
  0% {
    transform: translateX(0);
  }

  90% {
    transform: translateX(0);
  }

  91% {
    transform: translateX(40px);
  }

  92% {
    transform: translateX(-40px);
  }

  93% {
    transform: translateX(40px);
  }

  94% {
    transform: translateX(-40px);
  }

  95% {
    transform: translateX(40px);
  }

  96% {
    transform: translateX(-40px);
  }

  97% {
    transform: translateX(40px);
  }

  98% {
    transform: translateX(-40px);
  }

  99% {
    transform: translateX(40px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes move-aim {
  0% {
    left: 0;
  }

  100% {
    left: calc(100% - 28px);
  }
}

.restart {
  position: absolute;
  top: 0%;
  right: 0%;
  cursor: pointer;
}

.restart:hover {
  color: white;
}

i {
  width: 50px;
  height: 54px;
  text-align: center;

  font-size: 50px;
}

p {
  position: absolute;
  font-size: 38px;
}

.p-tries {
  top: 0;
  left: 0;
}

.p-restart {
  left: 50%;
}

.p-target {
  top: 20%;
  left: 0;
}

.p-last-attempt {
  top: 40%;
  left: 0;
}

.start-animation {
  top: 60%;
  left: 0;
}

.begin-animation {
  position: absolute;
  top: 58%;
  right: 0%;
  cursor: pointer;
}

.begin-animation:hover {
  color: white;
}

.tries-count {
  position: absolute;
  top: 0;
  left: 35%;
  transform: translateX(-50%);
}

.target-value {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
}

.last-attempt-score {
  position: absolute;
  top: 40%;
  left: 80%;
  transform: translateX(-50%);
}

.click-me {
  top: 80%;
  left: 0;
  color: white;
}

button {
  position: absolute;
  bottom: 7%;
  right: 0;
  width: 50px;
  height: 54px;
  border-color: transparent;
  outline: none;
  cursor: pointer;
  font-family: Arial;
  font-size: 28px;
}

button:hover {
  background-color: black;
}

button.shake {
  animation: shake-it .4s linear;
}

button.hide {
  display: none;
}

.target {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.target1 {
  width: 35vh;
  height: 35vh;
  background-color: black;
}

.target2 {
  width: 25vh;
  height: 25vh;
  background-color: green;
}

.target3 {
  width: 15vh;
  height: 15vh;
  background-color: red;
}

.target4 {
  width: 28px;
  height: 28px;
  background-color: black;
  border-radius: 0;
}